[quickswap]

[gcode_macro _QS_A_CHANGE_FILAMENT]
# On klippy:ready, quickswap.py renames:
#  _A_CHANGE_FILAMENT to _QS_ORIG_A_CHANGE_FILAMENT
#  _QS_A_CHANGE_FILAMENT (this macro) to _A_CHANGE_FILAMENT
# Because of the way this is handled, the "purge" variable does NOT need to be
# redefined here and/or synced between the two. However, it does need to be
# cleared after the custom routine is invoked.
gcode:
    {% set channel = params.CHANNEL|default(0)|int %}
    {% set switchover = params.SWITCHOVER|default(0)|int %}
    
    {% set restore_temp = params.RESTORE_TEMP|default(0)|int %}
    {% set restore_position = params.RESTORE_POSITION|default(0)|int %}
    {% set use_trash_on_print = printer.save_variables.variables['use_trash_on_print']|default(1)|int %}
    {% set printer_state = printer.print_stats.state %}
    
    # GCode-invoked change: restore_temp = 1, restore_position = 1 :: This is the target.
    # zmod_ifs.ANALOG_PRUTOK: restore_temp = 1, restore_position = 0 :: Invoked only on head runout. Intercepted at the level of ANALOG_PRUTOK instead and _QS_CHANGE_FILAMENT is called directly from there.
    # zmod_ifs.SET_CURRENT_PRUTOK: restore_temp = 0, restore_position = 0 :: SET_CURRENT_PRUTOK itself is only called in situations that either are bypassed by QuickSwap, or that QuickSwap would let fall back to stock behavior anyway.
    
    {% if (printer_state != 'printing' or use_trash_on_print == 1 or channel == 0 or restore_temp == 0 or restore_position == 0) and not switchover %}
        # Basically - anything except a completely straightforward mid-print color change, we fall back to default behavior.
        _QS_ORIG_A_CHANGE_FILAMENT {rawparams}
    {% else %}
        _QS_CHANGE_FILAMENT CHANNEL={channel} SWITCHOVER={switchover}
        SET_GCODE_VARIABLE MACRO=_A_CHANGE_FILAMENT VARIABLE=purge VALUE=0
    {% endif %}
    
[gcode_macro _QS_ANALOG_PRUTOK]
# On klippy:ready, quickswap.py renames:
#  ANALOG_PRUTOK to _QS_ORIG_ANALOG_PRUTOK
#  _QS_ANALOG_PRUTOK (this macro) to ANALOG_PRUTOK
gcode:
    {% set printer_state = printer.print_stats.state %}
    {% if printer_state != 'printing' %}
        _QS_ORIG_ANALOG_PRUTOK {rawparams}
    {% else %}
        _QS_CHANGE_ANALOG_FILAMENT
    {% endif %}


[gcode_macro QS_GENERATE_TEST]
gcode:
    {% set channel = params.CHANNEL|default(0)|int %}
    _QS_GENERATE_TEST CHANNEL={channel}