[quickswap]

[gcode_macro _QS_A_CHANGE_FILAMENT]
# On klippy:ready, quickswap.py renames:
#  _A_CHANGE_FILAMENT to _QS_ORIG_A_CHANGE_FILAMENT
#  _QS_A_CHANGE_FILAMENT (this macro) to _A_CHANGE_FILAMENT
# Because of the way this is handled, the "purge" variable does NOT need to be
# redefined here and/or synced between the two. However, it does need to be
# cleared after the custom routine is invoked.
gcode:
    {% set channel = params.CHANNEL|default(0)|int %}
    
    {% set restore_temp = params.RESTORE_TEMP|default(0)|int %}
    {% set restore_position = params.RESTORE_POSITION|default(0)|int %}
    {% set use_trash_on_print = printer.save_variables.variables['use_trash_on_print']|default(1)|int %}
    {% set printer_state = printer.print_stats.state %}
    
    {% if printer_state != 'printing' or use_trash_on_print == 1 or channel == 0 or restore_temp == 0 or restore_position == 0 %}
        # Basically - anything except a completely straightforward mid-print color change, we fall back to default behavior.
        _QS_ORIG_A_CHANGE_FILAMENT {rawparams}
    {% else %}
        _QS_CHANGE_FILAMENT CHANNEL={channel}
        SET_GCODE_VARIABLE MACRO=_A_CHANGE_FILAMENT VARIABLE=purge VALUE=0
    {% endif %}

[gcode_macro QS_GENERATE_TEST]
gcode:
    {% set channel = params.CHANNEL|default(0)|int %}
    _QS_GENERATE_TEST CHANNEL={channel}